body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2025-jul.bauska.org/images/KITTY-600x300.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}

.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}

.canada {
    background-color:#e8e193;  /* very soft yellow */
}
.ufo {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.independence {
    background-color:#ff3333;  /* vivid red */
}
.bikini {
    background-color:#ff9933;  /* vivid orange */
}
.intl-kissing {
    background-color:#ff3399;  /* vivid pink */
}
.fried-chicken {
    background-color:#3399ff;  /* vivid blue */
}
.chocolate {
    background-color:#9aff9a;  /* pale lime green */
}
.cow-appreciation {
    background-color:#9933ff;  /* vivid violet */
}
.french-fry {
    background-color:#ff8c1a;  /* vivid orange */
}
.population {
    background-color:#ffb21a;  /* vivid orange */
}
.bastille {
    background-color:#ff0000;  /* bright red */
}
.natl-mandc {
    background-color:#9ab3ff;  /* pale blue */
}
.youth-skills {
    background-color:#98fb98;  /* very soft lime green */
}
.natl-hotdog {
    background-color:#a6f4ff;  /* pale cyan */
}
.natl-tattoo {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.world-emoji {
    background-color:#ffff00;  /* yellow */
}
.nelson-mandela {
    background-color:#d3d3d3;  /* light gray */
}
.columbian {
    background-color:#00ff00;  /* dark green */
}
.natl-moon {
    background-color:#ff7fdf;  /* very light pink */
}
.natl-vanilla-icecream {
    background-color:#ccff9a;  /* pale green */
}
.natl-tequila {
    background-color:#ffd700;  /* gold */
}
.parents {
    background-color:#00ff00;  /* lime green */
}
.hepatitis {
    background-color:#ba9ce8;  /* very soft violet */
}
.natl-lasagna {
    background-color:#00eeee;  /* pure cyan */
}
.intl-dayoffriendship {
    background-color:#ff7e6d;  /* very light red */
}
.natl-avocado {
    background-color:#afffad;  /* pale lime green */
}

